# Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo

# Environments
.venv/
venv/
env/
ENV/
*.venv
*.env
pip-wheel-metadata/
C:\kbv/

# Jupyter
.ipynb_checkpoints/

# Build artifacts (C/C++/CMake)
build/
dist/
cmake-build*/
src/simulation/build/
*.vcxproj*
*.sln

# Logs (optional, allow if you want to push logs)
# logs/
# *.log

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# ns-3 builds (if present)
ns3*/build*/
ns-3*/build*/

